body{
    margin: 0px;
}
section{
    height: 700px;
    padding-bottom: 50px;
    padding-top: 50px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.first-quarter{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    text-align: justify;
}
.heading-size{
    font-size: 50px;
}
.h1-size{
    font-size: 30px;
    text-align: center;
}
.name-highlight{
    color: rgb(253, 165, 1);
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(60deg, rgb(250, 92, 0), rgb(250, 175, 0));
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 750;
}
.second-quarter{
    width: 33%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.second-quarter img{
    width: 100%
}
.third-quarter{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.third-quarter img{
    width: 100%
}
.third-part{
    background-color: #ececece7;
    height: 500px;
}
#font-change{
    font-family: inherit;
}
.working-project{
    height: 80%;
    width: 25%;
    float: left;
    margin-left: 5%;
    padding: 10px;
    text-align: justify;
    background-color: #ffffff;
    border-radius: 15px;
}
.button{
    padding: 1px;
    margin: 0;
    height: 75%;
    width: 100%;
    position: relative;
    border-radius: 15px;
    transition-duration: .60s;
}
#bt1{
    height: 100%;
    max-width: 100%
}
.work-inquiry{
    color: rgb(245, 245, 251);
    font-size: 35px;
    padding-left: 25%;
    padding-top: 300px;
}
.chat-button{
    text-align: right;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, rgb(250, 92, 0), rgb(250, 175, 0));
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 750;
}
.right{
    text-align: right;
}
.fourth-part{
    background-image: url(images/bg-four.png);
    background-repeat: no-repeat;
    height: 100px;
    background-position: center;
    margin: 100px 200px;
    border-radius: 15px;
}
#WORK-INQUIRY{
    padding-left: 50px;
    color: rgb(245, 245, 251);
    font-size: 35px;
    float: left;
}
.btn{
    width: 20%;
    float: right;
    padding-top: 40px;
}
.footer{
    height: 80px;
}
footer{
    text-align: center;
    color: rgb(105, 103, 103);
    font-size: 18px;
}
footer img{
    height: 30px;
}
.hero{
    text-decoration: none;
    color: rgb(58, 57, 57);
    font-weight: 600;
    font-size: 35px;
}