body{
    margin: 0px;
}
section{
    height: 700px;
    padding-bottom: 50px;
    padding-top: 50px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.first-quarter{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    text-align: justify;
}
.heading-size{
    font-size: 50px;
}
.h1-size{
    font-size: 30px;
    text-align: center;
}
.name-highlight{
    color: rgb(253, 165, 1);
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(60deg, rgb(250, 92, 0), rgb(250, 175, 0));
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 750;
}
.second-quarter{
    width: 33%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.second-quarter img{
    width: 100%
}
.third-quarter{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.third-quarter img{
    width: 100%
}
.third-part{
    background-color: #ececece7;
    height: 500px;
}
#font-change{
    font-family: inherit;
}
.working-project{
    height: 80%;
    width: 25%;
    float: left;
    margin-left: 5%;
    padding: 10px;
    text-align: justify;
    background-color: #ffffff;
    border-radius: 15px;
}
.button{
    padding: 1px;
    margin: 0;
    height: 75%;
    width: 100%;
    position: relative;
    border-radius: 15px;
    transition-duration: .60s;
}
#bt1{
    height: 100%;
    max-width: 100%
}
.fourth-part{
    background-image: url(images/bg-four.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}
.work-inquiry{
    color: rgb(245, 245, 251);
    font-size: 35px;
    padding-left: 25%;
    padding-top: 300px;
}
.chat-button{
    text-align: right;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(60deg, rgb(250, 92, 0), rgb(250, 175, 0));
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 750;
}
.right{
    text-align: right;
}













.ex{
    padding-left: 40px;
    font-size: 30px;  
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 10px;
    text-align: justify;
    background-color: #ffffff;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 230px;
    padding: 15px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(17, 13, 224), rgb(162, 172, 231));
    border-image-slice: 1 ;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(216, 56, 16), rgb(231, 164, 143));
    border-image-slice: 2 ;
}
footer{
    text-align: center;
    color: gray;
    font-size: 12px;
}